<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.googlecode.tunnelk"
    android:versionCode="1"
    android:versionName="1.0" >

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" >
    </supports-screens>

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="10" >
    </uses-sdk>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/plane"
        android:label="@string/app_name" >
        <activity
            android:name="SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ChooseTunnelActivity"
            android:label="@string/choose_tunnel_type"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".VirtualTunnelActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="PhysicalTunnelHMIActivity"
            android:label="@string/physical_tunnel_hmi"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="TimeHistoryPlotActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="SetTunnelConditionsActivity"
            android:label="@string/set_tunnel_conditions"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="SetAirfoilShapeActivity"
            android:label="@string/set_airfoil_shape"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="RotateShapeActivity"
            android:label="@string/rotate_shape"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="DrawShapeActivity"
            android:label="@string/draw_shape"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="ShowResultsActivity"
            android:label="@string/show_results"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="ChooseTagsActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity android:name="OptionsMenuActivity" >
        </activity>

        <service android:name="LocalService" >
        </service>
    </application>

</manifest>